.version.where_to_buy {
    color: #0000F8;
    background-color: #9BCF10;
}

#muse_css_mq {
    background-color: #FFFFFF;
}

.wheretobuy #page {
    background-color: #B5E0E3;
    background-color: rgba(70,179,186,0.4);
}

#page_position_content {
    width: 0.01px;
}

#u20695 {
    z-index: 20;
    width: 1920px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: -452px;
}

#u20716 {
    z-index: 21;
    width: 1920px;
    background-color: #FFFFFF;
    position: relative;
    margin-right: -10000px;
}

#u20717 {
    z-index: 22;
    width: 1920px;
    height: 146px;
    background-color: #E5E5E5;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: relative;
    margin-right: -10000px;
}

#u20705 {
    z-index: 23;
    width: 905px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 62px;
    left: 505px;
}

#u20706 {
    z-index: 43;
    width: 80px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
}

#u20708 {
    z-index: 24;
    width: 795px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    left: 110px;
}

#u20714 {
    z-index: 25;
    width: 184px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
}

#u20709-4 {
    z-index: 27;
    width: 110px;
    min-height: 31px;
    background-color: transparent;
    line-height: 28px;
    position: relative;
    margin-right: -10000px;
    margin-top: 26px;
    left: 287px;
}

    #u20709-4:hover {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 31px;
        width: 110px;
        margin: 26px -10000px 0px 0px;
    }

    #u20709-4:active {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 31px;
        width: 110px;
        margin: 26px -10000px 0px 0px;
    }

    #u20709-4:hover p {
        color: #46B3BA;
        visibility: inherit;
    }

#u20711-4 {
    z-index: 31;
    width: 80px;
    min-height: 31px;
    background-color: transparent;
    line-height: 28px;
    position: relative;
    margin-right: -10000px;
    margin-top: 26px;
    left: 433px;
}

    #u20711-4:hover {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 31px;
        width: 80px;
        margin: 26px -10000px 0px 0px;
    }

    #u20711-4:active {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 31px;
        width: 80px;
        margin: 26px -10000px 0px 0px;
    }

    #u20711-4:hover p {
        color: #46B3BA;
        visibility: inherit;
    }

#u20713-4 {
    z-index: 35;
    width: 89px;
    min-height: 31px;
    background-color: transparent;
    line-height: 28px;
    position: relative;
    margin-right: -10000px;
    margin-top: 26px;
    left: 549px;
}

    #u20713-4:hover {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 31px;
        width: 89px;
        margin: 26px -10000px 0px 0px;
    }

    #u20713-4:active {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 31px;
        width: 89px;
        margin: 26px -10000px 0px 0px;
    }

    #u20713-4:hover p {
        color: #46B3BA;
        visibility: inherit;
    }

#u20710-4 {
    z-index: 39;
    width: 121px;
    min-height: 31px;
    background-color: transparent;
    line-height: 28px;
    position: relative;
    margin-right: -10000px;
    margin-top: 26px;
    left: 674px;
}

    #u20710-4:hover {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 31px;
        width: 121px;
        margin: 26px -10000px 0px 0px;
    }

    #u20710-4:active {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 31px;
        width: 121px;
        margin: 26px -10000px 0px 0px;
    }

    #u20710-4:hover p {
        color: #46B3BA;
        visibility: inherit;
    }

    #u20709-4:active p, #u20711-4:active p, #u20713-4:active p, #u20710-4:active p {
        color: #BB9DC6;
        visibility: inherit;
    }

#u20704 {
    z-index: 45;
    width: 1920px;
    -pie-box-shadow: 0px 2px 4px #C9C9C9;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.21);
    background-color: #FFFFFF;
    margin-bottom: -2px;
    position: relative;
    margin-right: -10000px;
    margin-top: 135px;
}

#u20696 {
    z-index: 46;
    width: 1920px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
}

#u20698 {
    z-index: 47;
    width: 208px;
    height: 13px;
    background-color: #FBC680;
    position: relative;
    margin-right: -10000px;
}

#pu20701 {
    z-index: 50;
    width: 0.01px;
    margin-right: -10000px;
    margin-left: 208px;
}

#u20701 {
    z-index: 50;
    width: 331px;
    height: 13px;
    background-color: #EF8A6B;
    position: relative;
    margin-right: -10000px;
    left: 991px;
}

#u20699 {
    z-index: 51;
    width: 331px;
    height: 13px;
    background-color: #BB9DC6;
    position: relative;
    margin-right: -10000px;
    left: 661px;
}

#u20700 {
    z-index: 52;
    width: 332px;
    height: 13px;
    background-color: #94C7BF;
    position: relative;
    margin-right: -10000px;
    left: 329px;
}

#u20697 {
    z-index: 53;
    width: 330px;
    height: 13px;
    background-color: #E98FB7;
    position: relative;
    margin-right: -10000px;
}

#u20702 {
    z-index: 49;
    width: 331px;
    height: 13px;
    background-color: #46B3BA;
    position: relative;
    margin-right: -10000px;
    left: 1529px;
}

#u20703 {
    z-index: 48;
    width: 60px;
    height: 13px;
    background-color: #FBC680;
    position: relative;
    margin-right: -10000px;
    left: 1860px;
}

#pu23280 {
    z-index: 2;
    width: 0.01px;
    margin-left: -452px;
}

#u23280 {
    z-index: 2;
    width: 1920px;
    height: 146px;
    background-color: #E5E5E5;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: relative;
    margin-right: -10000px;
}

.js #u20717.ose_pre_init, .js #u23280.ose_pre_init {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#u21370 {
    z-index: 19;
    width: 976px;
    min-height: 493px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    margin: 19px 12px 0;
    position: relative;
}

#u21359-4 {
    z-index: 15;
    min-height: 82px;
    background-color: transparent;
    color: #653F58;
    line-height: 34px;
    font-size: 26px;
    text-align: center;
    font-family: droid-sans, sans-serif;
    font-weight: 400;
    margin: 23px 12px 0;
    position: relative;
}

#u21221 {
    z-index: 4;
    width: 690px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    margin-left: 137px;
    margin-top: 26px;
    position: relative;
}

#u21191 {
    z-index: 9;
    margin-bottom: -3px;
    position: relative;
    width: 200px;
    margin-right: -10000px;
}

#u21206 {
    z-index: 7;
    margin-bottom: -3px;
    position: relative;
    width: 200px;
    margin-right: -10000px;
    left: 245px;
}

#u21199 {
    z-index: 5;
    margin-bottom: -3px;
    position: relative;
    width: 200px;
    margin-right: -10000px;
    left: 490px;
}

#u21191_img, #u21206_img, #u21199_img {
    display: block;
    vertical-align: top;
}

#up {
    position: relative;
    width: 22px;
    margin-right: -10000px;
}

#u37104 {
    z-index: 55;
    width: 1920px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    left: -448px;
    margin-top: 37px;
    position: relative;
}

#u37126 {
    z-index: 95;
    width: 1920px;
    -pie-box-shadow: 0px 2px 4px #C9C9C9;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.21);
    background-color: #FFFFFF;
    position: relative;
}

#u37127 {
    z-index: 96;
    width: 1920px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
}

#u37133 {
    z-index: 97;
    width: 208px;
    height: 13px;
    background-color: #FBC680;
    position: relative;
    margin-right: -10000px;
}

#pu37130 {
    z-index: 100;
    width: 0.01px;
    margin-right: -10000px;
    margin-left: 208px;
}

#u37130 {
    z-index: 100;
    width: 331px;
    height: 13px;
    background-color: #EF8A6B;
    position: relative;
    margin-right: -10000px;
    left: 991px;
}

#u37134 {
    z-index: 101;
    width: 331px;
    height: 13px;
    background-color: #BB9DC6;
    position: relative;
    margin-right: -10000px;
    left: 661px;
}

#u37131 {
    z-index: 102;
    width: 332px;
    height: 13px;
    background-color: #94C7BF;
    position: relative;
    margin-right: -10000px;
    left: 329px;
}

#u37128 {
    z-index: 103;
    width: 330px;
    height: 13px;
    background-color: #E98FB7;
    position: relative;
    margin-right: -10000px;
}

#u37132 {
    z-index: 99;
    width: 331px;
    height: 13px;
    background-color: #46B3BA;
    position: relative;
    margin-right: -10000px;
    left: 1529px;
}

#u37129 {
    z-index: 98;
    width: 60px;
    height: 13px;
    background-color: #FBC680;
    position: relative;
    margin-right: -10000px;
    left: 1860px;
}

#u37125 {
    z-index: 56;
    width: 1920px;
    background-color: #B2B2B2;
    padding-bottom: 17px;
    position: relative;
}

#u37105 {
    z-index: 57;
    width: 767px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 17px;
    left: 576px;
}

#u37123 {
    z-index: 93;
    width: 81px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 2px;
}

#u37124 {
    z-index: 94;
    display: block;
}

#u37122-4 {
    z-index: 58;
    width: 358px;
    min-height: 81px;
    background-color: transparent;
    font-size: 13px;
    line-height: 16px;
    position: relative;
    margin-right: -10000px;
    left: 111px;
}

#u37106 {
    z-index: 76;
    width: 76px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    left: 499px;
}

#u37107-4 {
    z-index: 77;
    width: 74px;
    min-height: 18px;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: linear;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: linear;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    line-height: 17px;
    position: relative;
}

    #u37107-4:hover {
        -webkit-transition-duration: 0.1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: linear;
        transition-duration: 0.1s;
        transition-delay: 0s;
        transition-timing-function: linear;
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 18px;
        width: 74px;
        margin: 0px;
    }

#u37110-4 {
    z-index: 81;
    width: 54px;
    min-height: 18px;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: linear;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: linear;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    line-height: 17px;
    margin-top: 3px;
    position: relative;
}

    #u37110-4:hover {
        -webkit-transition-duration: 0.1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: linear;
        transition-duration: 0.1s;
        transition-delay: 0s;
        transition-timing-function: linear;
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 18px;
        width: 54px;
        margin: 3px 0px 0px;
    }

#u37108-4 {
    z-index: 85;
    width: 56px;
    min-height: 18px;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: linear;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: linear;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    line-height: 17px;
    margin-top: 3px;
    position: relative;
}

    #u37108-4:hover {
        -webkit-transition-duration: 0.1s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: linear;
        transition-duration: 0.1s;
        transition-delay: 0s;
        transition-timing-function: linear;
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 18px;
        width: 56px;
        margin: 3px 0px 0px;
    }

        #u37107-4:hover p, #u37110-4:hover p, #u37108-4:hover p {
            color: #46B3BA;
            visibility: inherit;
            line-height: 1.2;
            font-size: 14px;
            font-family: droid-sans, sans-serif;
            font-weight: 400;
            font-style: normal;
            padding: 0px;
        }

#u37109-4 {
    z-index: 89;
    width: 76px;
    min-height: 18px;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: linear;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: linear;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    line-height: 17px;
    margin-top: 4px;
    position: relative;
}

#u37111 {
    z-index: 62;
    width: 162px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    left: 605px;
}

#u37112 {
    z-index: 67;
    width: 160px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 27px;
}

#u37117 {
    z-index: 72;
    width: 36px;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: linear;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: linear;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    border-radius: 4px;
    position: relative;
    margin-right: -10000px;
}

#u37115 {
    z-index: 70;
    width: 36px;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: linear;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: linear;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    border-radius: 4px;
    position: relative;
    margin-right: -10000px;
    left: 41px;
}

#u37113 {
    z-index: 68;
    width: 36px;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: linear;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: linear;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    border-radius: 4px;
    position: relative;
    margin-right: -10000px;
    left: 83px;
}

#u37119 {
    z-index: 74;
    width: 36px;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: linear;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: linear;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    border-radius: 4px;
    position: relative;
    margin-right: -10000px;
    left: 124px;
}

    #u37117:hover, #u37115:hover, #u37113:hover, #u37119:hover {
        border-width: 0px;
        border-color: transparent;
        background-color: #46B3BA;
        border-radius: 5px;
        width: 36px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u37117 .clip_frame, #u37115 .clip_frame, #u37113 .clip_frame, #u37119 .clip_frame {
        -webkit-border-radius: 4px 4px 4px 4px;
    }

    #u37117:hover .clip_frame, #u37115:hover .clip_frame, #u37113:hover .clip_frame, #u37119:hover .clip_frame {
        -webkit-border-radius: 5px 5px 5px 5px;
    }

#u37117_img, #u37115_img, #u37113_img, #u37119_img {
    margin: -1px;
}

#u37121-4 {
    z-index: 63;
    width: 162px;
    min-height: 17px;
    background-color: transparent;
    line-height: 17px;
    position: relative;
    margin-right: -10000px;
}

.wheretobuy .css_verticalspacer .verticalspacer {
    height: calc(100vh - 1198px);
}
